<p>Hola <%= @resource.nombre %>!</p>

<p>Tu cuenta ha sido bloqueada temporalmente debido a que se ingres칩 reiteradas veces una contrase침a err칩nea al intentar iniciar sesi칩n.</p>

<p>Haz clic en el siguiente enlace para desbloquear tu cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, :unlock_token => @resource.unlock_token) %></p>
