<p>Hola <%= @usuario.nombre %>!</p>

<p>Tu cuenta ha sido bloqueada desde una de nuestras comisarías.</p>

<p>Desde este momento tu cuenta queda inutilizada para seguir operando con nuestro sistema.</p>

<p>Para conocer el motivo o tramitar el desbloqueo contactate con nosotros</p>
