<p>Hola <%= @usuario.nombre %>!</p>

<p>Tu cuenta ha sido desbloqueada desde una de nuestras comisarías.</p>

<p>Desde este momento tu cuenta queda habilitada para seguir operando con nuestro sistema.</p>